@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700;800&display=swap');

/* Force the entire app to use the new custom font */
* {
  font-family: 'Space Grotesk', sans-serif !important;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #475569;
}